@model IEnumerable<ProjetoEscola.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Alunos</h1>

<p>
    <a asp-action="Create">Cadastro de Alunos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código do Aluno
            </th>
            <th>
                Nome
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edição</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
