@model ProjetoEscola.Models.Entities.Curso_Disciplina

@{
    ViewData["Title"] = "Detalhes";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.data_desativacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.data_desativacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.curso_id@Model.disciplina_id">
        @Html.ActionLink("Editar", "Edit", new { curso_id = Model.curso_id, disciplina_id = Model.disciplina_id })
    </a>  |
    <a asp-action="Index">Voltar</a>
</div>
