@model IEnumerable<ProjetoEscola.Models.Disciplina>

@{
    ViewData["Title"] = "Listagem de disciplinas";
}

<h1>Listagem de Disciplinas</h1>

<p>
    <a asp-action="Create">Cadastro de disciplina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código da Disciplina
            </th>
            <th>
                Nome da Disciplina
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edição</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
